<!DOCTYPE html>
<html lang="en">
<head>
  <title>frank ceaser's cigar</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <img src= "assets/sinatra_ceasar.png" style="width:100px;">
  <h4>frank ceaser's cipher</h4>
</div>
  
<div class="container">
  <div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-7">
      <form>
        <br>
        <textarea name='txt' rows="4" cols="50" placeholder='txt'></textarea><br><br><br>
        <input type="number" name="shft" placeholder='shīft'><br><br>
        <input type="submit" value="cphr"><br>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-7">
      <br><br><br>
      <%= output %>
    </div>
  </div>
</div>

<div>
  
</div>

</body>
</html>